* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  .header-section {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    font-size: 25px;
  }
  .header-section {
    div {
      width: auto;
      color: white;
    }
    .title2{
      color: yellow;
    }
  }
  .container {
    width: 100%;
    // background-color: black;
    padding: 25px 0px;
    .layer1 {
      width: 96%;
      margin-right: auto;
      margin-left: auto;
      background-color: #045;
      padding: 35px 10px;
      
      .layer2 {
        width: 96%;  
        margin: auto;
        h2 {
          // text-align: center;
          width: 100%;
          margin: auto;
          color: yellow;
          font-size: 180px;
          display: block;
          background-color: black;
          box-sizing: border-box;
          padding-left: 20px;
        }
      }
    }
  }
}

form {
  label {
    border-radius: 2px;
    display: block;
  }
  .field_with_errors {
    input {
      border: 1px solid red;
    }
  }
}



